<div class="measoft-wrapper panel">
    <div class="measoft-title">
        <img class="measoft-logo" src="/admin/view/image/measoftcourier/logo.png">
        Курьерская служба
    </div>
    <div class="measoft-content">
        <form id="measoft-form-status" class="measoft-form-status" action="/admin/index.php?route=extension/shipping/measoftcourier/ajax&action=status&user_token={{ user_token }}" method="get">
            <input type="hidden" name="user_token" value="">
            <input type="hidden" name="order_id" value="{{ order_id }}">
            <div class="loading">Получение статуса заказа</div>
            <div class="loaded">
                <strong>Статус:</strong>
                <span class="status"></span></div>
        </form>
        <form id="measoft-form-send" class="measoft-form-send" action="/admin/index.php?route=extension/shipping/measoftcourier/ajax&action=send&user_token={{ user_token }}" method="get">
            <input type="hidden" name="user_token" value=""/>
            <input type="hidden" name="order_id" value="{{ order_id }}"/>
            <div class="form-group">
                <label>Дата доставки
                    <span>(в формате "YYYY-MM-DD")</span></label>
                <input class="datetimepicker-date form-control" type="text" name="date" value="{{ delivery_date }}" required="required"/>
            </div>
            <div class="form-group meamap_admin">
                <label>
                    <span>Выбор ПВЗ:</span></label>
                <div class="measoftWrapper">
                    <div id="measoftmapblock"></div>
                    <input type="hidden" name="pvz_id" class="pvzcode" value="{{ order.info.pvz_id }}">
                    <input placeholder="Нажмите кнопку справа для выбора ПВЗ" type="text" readonly="readonly" name="pvz_name" id="pvzname" value="{{ order.info.pvz_name }}">
                    <button type="button" id='ks2008_clean_pvz' class="btn btn-default btn-xs" title="Очистить ПВЗ"><img src='/admin/view/image/measoftcourier/cross.png'></button>
                </div>
            </div>
            <div class="form-group">
                <label>Время доставки
                    <span>(в формате "HH:MM")</span></label>
                <table style="width:100%;">
                    <tr>
                        <td class="from">с&nbsp;&nbsp;</td>
                        <td>
                            <input class="datetimepicker-time form-control" type="text" name="time_min"/>
                        </td>
                        <td class="to">до&nbsp;&nbsp;</td>
                        <td>
                            <input class="datetimepicker-time form-control" type="text" name="time_max"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label>
                    <span>Поручение</span></label>
                <textarea class="form-control" name="instruction" id="instruction" rows="3">{{ order.info.instruction }}</textarea>
            </div>
            <div class="form-group">
                <label>
                    <span>Необходимость возврата заказа</span></label>
                <span>Да</span><input name="return" type="radio" value="YES" {% if order.info.return == 'YES' %} checked="checked" {% endif %}>
                <span>Нет</span><input name="return" type="radio" value="NO" {% if order.info.return == 'NO' %} checked="checked" {% endif %}>
            </div>
            <div class="form-group">
                <input class="btn btn-default" type="submit" value="Отправить заказ"/>
            </div>
        </form>
    </div>
</div>
